{% extends 'library_app/base.html' %}

{% block title %}Add Book - Library Management System{% endblock %}

{% block navigation %}
    <a href="{% url 'home' %}" class="btn btn-primary mb-3">HOME</a>
{% endblock %}

{% block content %}
    <h1>Add a Book</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="title">Book Title:</label>
            <input type="text" class="form-control" id="title" name="title" required>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Add Book</button>
    </form>
{% endblock %}
